* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 1em/1.4 Helvetica, Arial, sans-serif;
}

a { 
    text-decoration: none;
    color: #666;
}

a:hover {
    background-color: #ECECEC;
    text-decoration: underline;
}

ul { list-style: square outside; }
ol { list-style: decimal; }

footer {
    display: flex;
    justify-content: center;
}

sidebar {
    padding: 1em 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
}

sidebar > :first-child {
    flex-grow: 1;
    flex-shrink: 1;
}

sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

aside div {
    text-align: center;
}

#avatar {
    display: flex;
    justify-content: center;
}

#avatar a {
    background-color: transparent;
}

#avatar a img {
    border: 2px solid #000;
}

#name {
    font-size: 2em;
}

#name a {
    color: #000;
    text-decoration: none;
}

#bio {
    font-size: 0.9em;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 0.5em 0 0.5em;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: 0.75em;
}

.subtitle {
    color: #AAA;
    font-size: 0.9em;
}

.multilink {
    font-size: 0.8em;
    padding-left: 0.5em;
    display: inline;
}

.content {
    padding: 0 1em 0 1em;
    flex: 1;
}

.prevnext {
    font-size: 0.875em;
    margin: 0;
    padding: 0;
}

.prevnext a {
    color: #666;
    margin: 0 0.5em 0 0.5em;
    text-align: center;
    line-height: 1.875em;  
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    width: 1.875em;
    height: 1.875em;
}

.prevnext a:hover { color: #666; }

.prevnext a.active { 
    background-color: #666;
    color: #e6e6e6;
    border: 1px solid transparent;
}

.prevnext a.inactive {
    pointer-events: none;
}

.codehilite {
    background-color: #F3F3F3;
    line-height: 1em;
    margin: 0.25em;
    padding: 0.5em;
    overflow-x: auto;
}